@model Tarea3_JasonTrejos.Models.Productos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:#54557B">Lista de productos en almacen</h1>

<hr />
<h4 style="text-align:center"><strong style="color:#0E13BB">Detalle del producto seleccionado</strong></h4>
<hr />
<div>
    <h4>Productos</h4>
    <hr />
    @if (Model.fechaCaducidad_Producto <= DateTime.Today)
    {
        <div class="alert alert-danger text-center" role="alert">
            Este producto se encuentra vencido<br>
            Favor revisar la fecha de caducidad.
        </div>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lote_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lote_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFabricacion_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFabricacion_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_Proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCaducidad_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCaducidad_Producto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.id_Producto">Editar</a> |
    <a class="btn btn-outline-info" asp-action="Index">Volver al inventario</a>
</div>
